<ngx-tabs class="">
  <ngx-tab label="GUI Xmrig Miner">
    <ngx-section [sectionCollapsible]="false">
      <div fxFlex fxLayout="column">
        <div fxFlex="40"  *ngIf="this.pool == 'pool.hashvault.pro' && wallet.length < 10" >
          <h2>You could be mining already if there is a wallet address in the wallet input... ive not added status indicators or reporting</h2>
          <p>This GUI miner uses HashVault mining pool to remove complexity, the only required information is the wallet address to mine for on any supported coin.</p>
          <p>for other coin/pools use the advanced options to make adjustments.</p>
          <span class="tag tag-bordered">Lethean</span>
          <span class="tag tag-bordered">Monero</span>
          <span class="tag tag-bordered">Haven</span>
          <span class="tag tag-bordered">TurtleCoin</span>
          <span class="tag tag-bordered">KevaCoin</span>
          <span class="tag tag-bordered">Sumokoin</span>
          <span class="tag tag-bordered">Masari</span>
        </div>
        <div fxFlex style="padding: 8px;">
          <ngx-input
            fxFlex="70"
            [label]="'Wallet Address'"
            [autofocus]="true"
            [ngModel]="wallet"
            [hint]="'Enter the wallet address to mine for'"
            (change)="wallet = $event">
          </ngx-input>
          <ngx-input
            fxFlex="20"
            [label]="'Mining Pool'"
            [autofocus]="false"
            [ngModel]="pool"
            [hint]="'Mining pool'"
            (change)="pool = $event">
          </ngx-input>
          <button mat-button (click)="this.startXmrig()">Start Xmrig</button>

        </div>
        <div fxFlex="100">
          <mat-tab-group >
            <mat-tab label="Xmrig API Stats">
              <h1 *ngIf="this.pool !== 'pool.hashvault.pro' && wallet.length > 10">
                Consider using HashVault Mining pool for extended statistics, mining wallet & exchange automation
              </h1>
              <ng-container   *ngIf="xmrigData.summary['uptime']">
                <div fxFlex="100" >
                  <mat-list fxFlex dense>
                    <mat-list-item>Stats</mat-list-item>
                    <mat-list-item><p>Uptime</p><p class="text-right">{{ getNow() - (xmrigData.summary['uptime']*1000) | amTimeAgo}}</p></mat-list-item>
                    <mat-list-item><p>Accepted Shares</p><p class="text-right">{{xmrigData.summary['results']['shares_total']}}</p></mat-list-item>
                    <mat-list-item><p>Total Hashes</p><p class="text-right">{{xmrigData.summary['results']['hashes_total']| hashrate}}</p></mat-list-item>
                    <mat-list-item><p>Best Share</p><p class="text-right">{{xmrigData.summary['results']['best'][0] | hashrate}}</p></mat-list-item>
                    <mat-list-item><p>Hashrate 10s | 30s | 15m | Peak</p><p class="text-right">
                      {{xmrigData.summary['hashrate']['total'][0] | hashrate }} |
                      {{xmrigData.summary['hashrate']['total'][1] | hashrate }} |
                      {{xmrigData.summary['hashrate']['total'][2] | hashrate }} |
                      {{xmrigData.summary['hashrate']['highest'] | hashrate }}
                    </p></mat-list-item>
                    <mat-list-item><p>Memory Free | Total</p><p class="text-right">{{xmrigData.summary['resources']['memory']['free'] | filesize }} |
                      {{xmrigData.summary['resources']['memory']['total'] | filesize }}
                    </p></mat-list-item>
                    <mat-list-item><p>Load Avg</p><p class="text-right">
                      {{xmrigData.summary['resources']['load_average'][0]  }} |
                      {{xmrigData.summary['resources']['load_average'][1]  }} |
                      {{xmrigData.summary['resources']['load_average'][2]  }}
                    </p></mat-list-item>
                  </mat-list>
                  <mat-list fxFlex="30" dense>
                    <mat-list-item>Rig Information</mat-list-item>
                    <mat-list-item><p>MinerID</p><p class="text-right">{{xmrigData.summary['id']}}</p></mat-list-item>
                    <mat-list-item><p>WorkerID</p><p class="text-right">{{xmrigData.summary['worker_id']}}</p></mat-list-item>
                    <mat-list-item><p>Algo</p><p class="text-right">{{xmrigData.summary['algo']}}</p></mat-list-item>
                    <mat-list-item><p>Donate Level</p><p class="text-right">{{xmrigData.summary['donate_level']}}</p></mat-list-item>
                    <mat-list-item><p>Running</p><p class="text-right">{{!xmrigData.summary['paused']}}</p></mat-list-item>
                    <mat-list-item><p>CPU</p><p class="text-right">{{xmrigData.summary['cpu']['brand']}}</p></mat-list-item>
                    <mat-list-item><p>L2 Cache</p><p class="text-right">{{xmrigData.summary['cpu']['l2'] | filesize}}</p></mat-list-item>
                  </mat-list>
                  <mat-list fxFlex="30" dense>
                    <mat-list-item>Pool Information</mat-list-item>
                    <mat-list-item><p>URL</p><p class="text-right">{{xmrigData.summary['connection']['pool']}}</p></mat-list-item>
                    <mat-list-item><p>IP</p><p class="text-right">{{xmrigData.summary['connection']['ip']}}</p></mat-list-item>
                    <mat-list-item><p>Ping</p><p class="text-right">{{xmrigData.summary['connection']['ping']}}ms</p></mat-list-item>
                    <mat-list-item><p>Uptime</p><p class="text-right">{{xmrigData.summary['connection']['uptime'] | amDuration:'seconds' }}</p></mat-list-item>
                    <mat-list-item><p>Diff Target</p><p class="text-right">{{xmrigData.summary['connection']['diff'] | number }}</p></mat-list-item>
                    <mat-list-item><p>Accepted Shares</p><p class="text-right">{{xmrigData.summary['connection']['accepted']  }}</p></mat-list-item>
                    <mat-list-item><p>Rejected Shares</p><p class="text-right">{{xmrigData.summary['connection']['rejected']  }}</p></mat-list-item>
                  </mat-list>
                </div>


              </ng-container>

            </mat-tab>

            <mat-tab label="Mining Pool Stats" *ngIf="this.pool == 'pool.hashvault.pro' && wallet.length > 10" >
              <lthn-app-pool [wallet]="this.wallet" ></lthn-app-pool>
            </mat-tab>

          </mat-tab-group>
        </div>

      </div>
    </ngx-section>
  </ngx-tab>
  <ngx-tab label="Xmrig Console" *ngIf=" wallet.length > 10">
    <ngx-section *ngxIfTabActive>
      <lthn-console attach="xmrig"></lthn-console>
    </ngx-section>
  </ngx-tab>
  <ngx-tab label="Xmrig Config">
    <ngx-section *ngxIfTabActive>
<!--      <app-miner-xmrig-config></app-miner-xmrig-config>-->
    </ngx-section>
  </ngx-tab>
</ngx-tabs>

